
#custom-search-input {
    margin: 0;
    /* padding: 20px; */
}

#custom-search-input .search-query {
    /* padding: 20px;   */
    font-style: italic;
    height: 50px;
    font-size: 13.5px;
    padding-right: 40px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 10px;
}

#custom-search-input button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -40px;
    margin-right: -28px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}

.search-query:focus + button {
    z-index: 3;   
}

#tabela{
    margin-left: 0;
    height: 42rem;
    padding: 0;
    border: 0;
    background: White;
    z-index: 1000; 
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 5px 8px 0px rgba(0,0,0,0.14), 0px 1px 14px 0px rgba(0,0,0,0.12);
}
#tabela_busca{
    padding: 10px;
    border-width: 0px;
    background: #f78240;
    height: 70px;
}
#tabela_at{
    height: calc(100% - 115px);
    overflow-y: scroll;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.scrollbar {
    overflow-y: scroll;
}
.style-2::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
}
.style-2::-webkit-scrollbar-thumb {
    background-color: #f78240;
    border-radius: 50px;
}
.style-2::-webkit-scrollbar-track {
    background-color: #ffffff;
}
.ats {
    padding: 15px 20px;
    margin-bottom: -20px;
}
.nome_at {
    font-family: sans-serif, Arial;
    font-weight: bold;
    font-size: 15px;
}
.informacoes_at {
    font-family: sans-serif, Arial;
    font-size: 12.5px;
}
.destaca:hover {
    cursor:pointer;
    background: #F8F8F8;
}
#mapa{
    text-align: center;
    height: 42rem;
    background-color: #ecebe9ab;
}
.content{
    height: 100%;
    width: 100%;
    background: #F7F7F7;
    display: flex;
    align-items: center;
}
.titulo_at_balao{
    font-weight: bold;
}
.load{
    background: rgba( 250, 252, 237 ) 
                url('../assistencia/public/images/dual_ring.svg') 
                50% 
                no-repeat;
}
#marcador{
    /* width:500px;
    height:500px; */
    width:40%;
    position:absolute;
    top:25%;
    left:30%;
    margin-top:-50px;
    margin-left:-50px;
    opacity:0.1;
}
#area_pesquisa_personalizada{
    height: 45px;
    border-width: 0px;
    background: #ecebe9ab;
}

/* Custom Radio Button Start*/

.radiotextsty {
color: #656565;
font-size: 15px;
}

.customradio {
/* display: block; */
position: relative;
padding-left: 30px;
margin-bottom: 0px;
cursor: pointer;
font-size: 15px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/* Hide the browser's default radio button */
.customradio input {
position: absolute;
opacity: 0;
cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
position: absolute;
top: 0;
left: 0;
height: 22px;
width: 22px;
background-color: white;
border-radius: 50%;
border:1px solid #f3b47d;
}

/* When the radio button is checked, add a blue background */
.customradio input:checked ~ .checkmark {
background-color: white;
border:1px solid #f3b47d;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the indicator (dot/circle) when checked */
.customradio input:checked ~ .checkmark:after {
display: block;
}

/* Style the indicator (dot/circle) */
.customradio .checkmark:after {
top: 2px;
left: 2px;
width: 16px;
height: 16px;
border-radius: 50%;
background: #f46d15;
}
.radio_input{
    padding: 12px;
}

/* Custom Radio Button End*/

.imagem_estrela{
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}