<?php
namespace App\{{module_name}}\Migration;
use System\Migration\Interfaces\IMigration;
use System\DataBase\TableFactory;

class {{class_name}} implements IMigration{
    public function up():string{
        $table = TableFactory::mysqli('{{table_name}}');
        
        $table->create();
        return "{{table_name}} table created";
    }
    public function down():string{
        return "teste migracao";
    }
}
